<!DOCTYPE html>
<html lang="es"

{%block customHTMLtag%}
{%endblock%}

>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel - Pop Bubbles Tea</title>

    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Google Fonts: Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap" rel="stylesheet">

    <!-- Íconos (Lucide) -->
    <script src="https://unpkg.com/lucide@latest"></script>

    <style>
        body {
            font-family: 'Poppins', sans-serif;
        }
    </style>


    {%block customConfig%}
    {%endblock%}

    <!-- Custom CSS -->
    {%block customCSS%}
    {%endblock%}

</head>

<body>

    {%block body%}
    {%endblock%}

</body>

</html>