{%extends './layout.html'%}

{%block title%}Bubbles PopTea{%endblock%}



{%block customConfig%}
    <!-- Íconos (Lucide) -->
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>lucide.createIcons();</script>

    <style>
        body {
            font-family: 'Poppins', sans-serif;
        }
    </style>

{%endblock%}

{%block customCSS%}
{%endblock%}

{% block body %}
    <div class="bg-emerald-50 text-gray-800">
        {% block content %}
        {% endblock %}
    </div>

{% endblock %}

